// ::-webkit-scrollbar-thumb => control on thump that run on track
// ::-webkit-scrollbar-track => control on trake
// ::-webkit-scrollbar => control on width and height and all scroll bae
*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 2000px;
}
.toggle{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #EEE;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column nowrap;
    padding:10px;
    span{
        width: 100%;
        height: 10%;
        background-color: #777;
        transition: 0.5s all;
    }
    &:hover span{
        background-color: #333;
    }
}
nav{
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    clip-path: circle(0.5% at -4px -4px);
    &.open{
        clip-path: circle(140.9% at 0 0);
    }
    .close{
        position: fixed;
        top: 20px;
        right: 20px;
        color: white;
        border: 2px solid white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;
        transition: 0.8s;
        &:hover{
            color: indianred;
            border-color: indianred;
        }
    }
    a{
        color: #eee;
        text-decoration: none;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        // if dir is column will be height if it row will be width
        flex-basis: 80px;
        transition: 0.8s;
        &:hover{
            background-color: rgb(0 0 0 / 50%);
        }
    }
}
// control on scroll bar
/*
we can use and custom scroll on spesfic element 
element::-webkit-scrollbar{
    width: 15px;
}
element::-webkit-scrollbar-track{
    width: 15px;
}
element::-webkit-scrollbar-thumb{
    width: 15px;
}
// this corener between scrollY and scrollY
element::-webkit-scrollbar-corner{
    
}
*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: #ddd;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(indianred,0.4);
    border-radius: 20px;
    &:hover{
        background-color: indianred;
    }
}