@use  './vriables' as *;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;
}
.container{
    margin: auto;
    width: 100%;
    @media (min-width : 767px) {
        width: 750px;
    }
    @media (min-width : 992px) {
        width: 950px;
    }
    @media (min-width : 1200px) {
        width: 1170px;
    }
}
::selection{
    background-color: white;
    color: $mainColor;
}
