// both (forward , backword)
/*
this will start animation with 0% ,  and will end animation with 100%
*/

:root{
    --main-color : rgb(255  255  255 / 80%);
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333;
}
// test
p{
    font-size: 2rem;
    color: rgb(255 255 255 / 80%);
    width: 0;
    margin: auto;
    padding-right: 1px;
    border-right: 1px solid rgb(255 255 255 / 80%);
    overflow: hidden;
    white-space: nowrap;
    animation: anim 3s 2s steps(23) infinite alternate , animop 0.5s infinite;
}
@keyframes anim {
    from{
        width: 0;
    }
    to{
        width: 460px;
    }
}
@keyframes animop {
    from {
        border-right-color: rgb(255 255 255 / 80%);
    }
    to{
        border-right-color: transparent;
    }
}
// p{
//     color:var(--main-color);
//     font-size: 30px;
//     width: 418px;
//     margin:30px auto;
//     border-right: 2px solid var(--main-color);
//     white-space: nowrap;
//     animation: control-width 3s 2s steps(28)  both , blink 0.5s infinite ;
//     overflow: hidden;
// }
// @keyframes control-width {
//     from{
//         width: 0;
//     }
//     to{
//         width:  418px;
//     }
// }
// @keyframes blink {
//     from{
//         border-right-color: var(--main-color);
//     }
//     to{
//         border-right-color : transparent;
//     }
// }